PORT=5000

FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_API_KEY=AIzaSyDavI6JX6DvauwdXdRVwrafoOSivux4h2s
FIREBASE_AUTH_DOMAIN=asistencia-7fbf5.firebaseapp.com
FIREBASE_PROJECT_ID=asistencia-7fbf5
FIREBASE_STORAGE_BUCKET=asistencia-7fbf5.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=166363798504
FIREBASE_APP_ID=1:166363798504:web:84ef8473b6d45accb4a25d
FIREBASE_MEASUREMENT_ID=G-YMLPCLM22W

VITE_FIREBASE_API_KEY=AIzaSyDavI6JX6DvauwdXdRVwrafoOSivux4h2s
VITE_FIREBASE_AUTH_DOMAIN=asistencia-7fbf5.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=asistencia-7fbf5
VITE_FIREBASE_STORAGE_BUCKET=asistencia-7fbf5.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=166363798504
VITE_FIREBASE_APP_ID=1:166363798504:web:84ef8473b6d45accb4a25d
VITE_FIREBASE_MEASUREMENT_ID=G-YMLPCLM22W